In [115]:
import pandas as pd
import numpy as np

# Задание 1. Загрузка данных

In [116]:
page_url = 'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names'

In [117]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', sep = ',', na_values = '?')
df = df.drop(df.columns[[2, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23,24 ,25, 26, 27]], axis = 1)
df.columns = ['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']

test_df = df.copy()
df_filling = df.copy()

# Задание 2. Первичное изучение данных

In [118]:
# базовые статистики
def check(val):
    return val.max(), val.min(), val.mean(), val.median(), val.mode()[0], val.std()

df_stats = df.apply(check)
df_stats.index = ['max', 'min', 'mean', 'median', 'mode', 'std']
df_stats

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
median,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
mode,1.000000,1.00000,38.000000,48.000000,20.000000,3.000000,3.000000,1.000000
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967

In [119]:
def vibros(column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)
    vibrosi = pd.concat([df, remove_outliers]).drop_duplicates(keep=False).dropna()
    return(vibrosi)

# Почему так криво отображается? у меня было все норм, обновил пандас - теперь какая-то ошибка иногда

In [120]:
# здесь можно посмотреть все выбросы
for el in df:
    print(el)
    display(vibros(el))

surgery

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

Age

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
108,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
211,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
251,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

rectal temperature

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
43,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
53,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
79,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
90,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
98,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
117,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
250,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
258,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

pulse

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

respiratory rate

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
83,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0

temperature of extremities

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

pain

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

outcome

<ipython-input-119-dc6f2de46bdf>:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers = df[df[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

# Задание 3. Работа с пропусками

In [121]:
df.isna().sum() # всего пропусков

surgery                        1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [122]:
(df.isna().mean() * 100).round(2) # процент пропусков относительно всех значений столбца

surgery                        0.33
Age                            0.00
rectal temperature            20.07
pulse                          8.03
respiratory rate              19.40
temperature of extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

In [123]:
# Здесь я смотрю, какие вообще существуют пропуски в столбцах, какие есть закономерность и т.д. (для каждого столбика смотрю отдельно)
test_df['respiratory rate'].fillna('no_info', inplace=True)
filtered_df = test_df[(test_df['respiratory rate']) == 'no_info']
filtered_df

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,NaN,NaN,no_info,2.0,2.0,1.0
6,1.0,1,NaN,60.0,no_info,3.0,NaN,2.0
8,2.0,9,38.3,90.0,no_info,1.0,5.0,1.0
27,1.0,1,NaN,NaN,no_info,NaN,NaN,2.0
28,2.0,1,37.7,48.0,no_info,2.0,1.0,1.0
31,1.0,1,37.2,60.0,no_info,2.0,3.0,1.0
36,1.0,1,37.8,72.0,no_info,NaN,5.0,1.0
37,2.0,1,38.6,52.0,no_info,1.0,3.0,1.0
39,1.0,1,NaN,88.0,no_info,3.0,5.0,2.0
42,1.0,1,NaN,120.0,no_info,3.0,4.0,3.0
44,2.0,1,NaN,120.0,no_info,4.0,5.0,2.0
49,2.0,1,38.6,46.0,no_info,1.0,1.0,1.0
51,2.0,1,NaN,NaN,no_info,1.0,1.0,1.0
55,1.0,1,NaN,NaN,no_info,NaN,NaN,1.0
58,2.0,1,NaN,96.0,no_info,3.0,5.0,2.0
60,2.0,1,38.5,60.0,no_info,2.0,1.0,1.0
65,2.0,1,37.9,72.0,no_info,1.0,3.0,1.0
71,1.0,1,37.7,56.0,no_info,NaN,NaN,2.0
73,1.0,9,NaN,NaN,no_info,NaN,NaN,2.0
74,1.0,9,39.7,100.0,no_info,3.0,2.0,3.0
77,1.0,1,NaN,NaN,no_info,3.0,5.0,2.0
80,1.0,1,37.3,40.0,no_info,NaN,2.0,1.0
92,2.0,1,NaN,NaN,no_info,3.0,5.0,2.0
111,1.0,1,NaN,40.0,no_info,2.0,1.0,1.0
116,2.0,1,39.5,NaN,no_info,3.0,3.0,3.0
125,1.0,1,38.7,NaN,no_info,3.0,5.0,1.0
128,1.0,1,38.4,49.0,no_info,NaN,NaN,1.0
133,1.0,1,NaN,100.0,no_info,3.0,5.0,2.0
135,1.0,1,NaN,NaN,no_info,3.0,5.0,2.0
136,1.0,1,38.0,48.0,no_info,1.0,1.0,1.0
137,2.0,1,38.0,56.0,no_info,1.0,1.0,1.0
141,1.0,1,NaN,120.0,no_info,4.0,5.0,2.0
145,1.0,1,38.2,48.0,no_info,1.0,3.0,1.0
147,1.0,1,38.3,132.0,no_info,NaN,2.0,1.0
150,1.0,1,39.3,NaN,no_info,4.0,4.0,2.0
151,1.0,1,NaN,100.0,no_info,3.0,NaN,1.0
159,1.0,1,NaN,NaN,no_info,NaN,4.0,1.0
163,1.0,1,38.7,76.0,no_info,1.0,3.0,1.0
172,1.0,1,NaN,104.0,no_info,3.0,2.0,2.0
173,2.0,1,NaN,NaN,no_info,3.0,4.0,2.0
174,1.0,1,NaN,NaN,no_info,NaN,NaN,1.0
178,2.0,1,38.5,100.0,no_info,3.0,4.0,3.0
187,1.0,1,38.5,60.0,no_info,1.0,NaN,1.0
200,1.0,1,38.5,86.0,no_info,1.0,4.0,2.0
204,2.0,1,38.5,100.0,no_info,3.0,4.0,3.0
206,1.0,1,NaN,NaN,no_info,NaN,NaN,2.0
215,2.0,1,NaN,NaN,no_info,NaN,NaN,1.0
226,1.0,9,NaN,NaN,no_info,NaN,NaN,1.0
237,2.0,1,36.1,88.0,no_info,3.0,3.0,3.0
244,2.0,1,NaN,96.0,no_info,3.0,5.0,2.0
248,2.0,1,38.2,48.0,no_info,2.0,3.0,1.0
253,1.0,1,NaN,80.0,no_info,3.0,4.0,1.0
255,1.0,1,37.5,72.0,no_info,2.0,2.0,3.0
270,1.0,1,37.7,80.0,no_info,3.0,5.0,1.0
273,1.0,1,NaN,76.0,no_info,NaN,NaN,3.0
280,2.0,1,40.0,78.0,no_info,3.0,2.0,2.0
283,2.0,1,38.5,54.0,no_info,1.0,3.0,1.0
287,1.0,1,NaN,NaN,no_info,NaN,NaN,1.0

# 'pulse'

In [124]:
# пульс можно отсортировать по среднему в разрезе возраста, чем выше возраст - тем выше пульс
df.groupby('Age')['pulse'].mean()

Age
1     67.462451
9    123.363636
Name: pulse, dtype: float64

In [125]:
df_filling['pulse'].fillna(df_filling.groupby('Age')['pulse'].transform('median'), inplace=True)

# 'Surgery'

In [126]:
df['surgery'].value_counts()

1.0    180
2.0    118
Name: surgery, dtype: int64

In [127]:
# так как нет только одного значения, решаю заполнить его модой
df_filling['surgery'].fillna(df_filling['surgery'].mode()[0], inplace=True)
df_filling['surgery'].value_counts()

1.0    181
2.0    118
Name: surgery, dtype: int64

# 'Age'

In [128]:
# ничего не делаю, пропусков нет
df['Age'].count()

299

# 'rectal temperature'

In [129]:
#не нашел никаких закономерностей, принял решение заполнить средним значением
df_filling['rectal temperature'].fillna(df_filling['rectal temperature'].mean(), inplace=True)

# 'respiratory rate'

In [130]:
# чем выше частота дыхания - тем выше пульс
df_filling.groupby('pulse')['respiratory rate'].mean()

pulse
30.0     15.000000
36.0     19.000000
38.0     20.000000
40.0     19.437500
42.0     28.200000
44.0     18.000000
45.0     14.000000
46.0           NaN
48.0     21.666667
49.0           NaN
50.0     29.000000
52.0     26.909091
54.0     34.000000
56.0     35.200000
60.0     28.148148
64.0     45.625000
65.0     24.000000
66.0     17.600000
68.0     23.600000
70.0     22.500000
72.0     35.750000
75.0     36.000000
76.0     23.000000
78.0     27.000000
80.0     37.666667
82.0     12.000000
84.0     35.000000
86.0     20.000000
88.0     36.400000
90.0     35.000000
92.0     29.000000
96.0     31.666667
98.0     35.000000
100.0    43.166667
104.0    34.750000
108.0    41.000000
110.0    35.000000
112.0    17.666667
114.0    36.000000
120.0    46.571429
124.0    62.000000
128.0    36.000000
129.0    48.000000
130.0    38.000000
132.0          NaN
136.0    48.000000
140.0    46.000000
146.0    96.000000
150.0    61.000000
160.0    20.000000
164.0    84.000000
184.0    84.000000
Name: respiratory rate, dtype: float64

In [131]:
# заменяю пропуски средним значением из результатов группировки по пульсу, где это возможно
df_filling['respiratory rate'].fillna(df_filling.groupby('pulse')['respiratory rate'].transform('mean'), inplace=True)

In [132]:
# остальное заполняю просто средним
df_filling['respiratory rate'].fillna(df_filling['respiratory rate'].mean(),inplace=True)

# 'temperature of extremities'

In [133]:
# есть определенная закономерность темп. конечностей от пульса, буду отталкиваться от нее
df_filling.groupby('temperature of extremities')['pulse'].mean()

temperature of extremities
1.0    62.974359
2.0    60.233333
3.0    76.851852
4.0    89.111111
Name: pulse, dtype: float64

In [134]:
# заполню медианой в разрере возраста, потому что это категориальная величина
df_filling['temperature of extremities'].fillna(df_filling.groupby('pulse')['temperature of extremities'].transform('median'), inplace=True)

In [137]:
# остальное просто заполняю медианой
df_filling['temperature of extremities'].fillna(df_filling['temperature of extremities'].median(),inplace=True)

# 'pain'

In [146]:
# здесь тоже в среднем у более выского значения боли больше пульс
df_filling.groupby('pain')['pulse'].mean()

pain
1.0    50.342105
2.0    80.152542
3.0    63.761194
4.0    80.333333
5.0    83.000000
Name: pulse, dtype: float64

In [147]:
# # заполню медианой в разрере возраста, потому что это категориальная величина
df_filling['pain'].fillna(df_filling.groupby('pulse')['pain'].transform('median'), inplace=True)

In [151]:
# остальное просто заполняю медианой
df_filling['pain'].fillna(df_filling['pain'].median(),inplace=True)

# 'outcome'

In [157]:
# нет одного значения, заполню модой
df_filling['outcome'].fillna(df_filling['outcome'].mode()[0], inplace=True)

In [158]:
df_filling.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000
mean,1.394649,1.64214,38.166527,71.404682,30.789959,2.342809,2.91806,1.548495
std,0.489595,2.17730,0.655519,28.013422,16.365256,1.026678,1.23802,0.737415
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.00000,37.900000,48.000000,20.000000,1.000000,2.00000,1.000000
50%,1.000000,1.00000,38.166527,60.000000,28.148148,3.000000,3.00000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [159]:
df.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000